<!DOCTYPE html>
<html>
<head>
    <title>My Portal</title>

    <style>
        body {
            background-image: url("/static/pozadi.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>

<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept=".png,.jpg,.jpeg,.gif,.webp">
    <br>
    <input type="submit" value="Upload">
</form>

<p>Open this address in your browser:</p>
<p>http://10.42.0.1:8080</p>

</body>
</html>